<!--
/*
File name:index.ejs
Student name: Gagandeep kaur
Student id: 301144458
Date: 03-10-2021
*/

-->
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/header') %>
</head>
<body id="page-top">
    <!--Navigation -->
    <%- include ('./partials/navmenu') %>

   
     
    <!--Content of Home Page-->
    <section class ="bg-primary text-white mb-0" id="About">
        <div class="container"  style="min-height: 500px;margin-top:150px ;">
        <h2 class ="text-center  text-uppercase text-white"> HOME </h2>
        <hr class="star-light mb-5"  />
        <p style = "text-align: center;font-weight: 600;font-size: medium;"> Hii , Welcome to my portfolio .</p>
        <div class ="text-center">
            <p class="lead">
             My mission is to live with positivity and gain experience from the successful people as much as I can. I want to create
             custom websites to enhance my practical skills. 
            </p>
            </div>
         <div class="text-center">
             <a href="/about" class="btn-secondary mt-5"> About me</a>
         </div>
        </div>
    </section>

    

    <!--Footer-->
    <%- include ('./partials/footer') %>
</body>
</html>




