<!--
/*
File name:services.ejs
Student name: Gagandeep kaur
Student id: 301144458
Date: 03-10-2021
*/

-->
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/header') %>
</head>
<body id="page-top">
    <!--Navigation -->
    <%- include ('./partials/navmenu') %>
     
    <!--Projects-->
    <section class="portfolio mt-5" id="portfolio">
    <div class ="container">
    <h2 class ="text-center text-uppercase text-secondary mb-0">Services</h2>
    <hr class="star-dark mb-5"/>
    <div class = "row">


    <!--Movie Finder -->

<div class ="col-12">
<div class ="text-center">
<img class ="width = 50%" src ="public/Assests/images/web-application-development-process.png"  alt="Movie Finder"/>
</div>
<div class ="description">
<h3> Web application Development </h3>
<p>
We offer a wide range of web applications consulting services. It includes creating and delivering of
              custom web applications, we support businesses in different to cater their targeted audiences.
</p>
</div>
</div>

 <!--Movie Finder -->

<div class ="col-12">
<div class ="text-center">
<img class ="width = 50%" src ="public/img/Assests/images/desktop dvelopment.png"  alt="Movie Finder"/>
</div>
<div class ="description">
<h3> Desktop application Development </h3>
<p>
 We offer platform-specific or cross-platform desktop application development services which helps to turn
              your software idea into a reality.
</p>
</div>
</div>

 <!--Movie Finder -->

<div class ="col-12">
<div class ="text-center">
<img class ="width = 50%" src ="public/Assests/images/mobile.png"  alt="Movie Finder"/>
</div>
<div class ="description">
<h3> Mobile application Development </h3>
<p>
we offer services which includes end-to-end development of mobile applications.UI/UX design to mobile
              application testing and deployment.
</p>
</div>
</div>

</div>
</div>

</section>

<!--footer-->

<%- include  ('./partials/footer') %>
</body>
</html>


